<div class="user-details">
  <h1>Aprašymas</h1>
  <p>Dabartiniame skaitmeninių technologijų amžiuje, kai internetinių vagysčių, sukčiavimo atvejų skaičius kasmet auga. Žmonės socialiniuose tinkluose vis dažniau nukenčia dėl sukčių, kurie susikūrę netikrą paskyrą bando išvilioti pinigus ar kitaip apgauti. Kuriama netikrų paskyrų atpažinimo sistema padės apsaugoti žmones nuo netikrų paskyrų keliamų pavojų.<br/>
    <strong>Temos pavadinimas:</strong> Dirbtinio intelekto metodų tyrimas siekiant aptikti netikras online paskyras<br/>
    <strong>Studentas:</strong> Andrius Brūzga (andrius.bruzga@ktu.edu)<br/>
    <strong>Vadovas:</strong> Rytis Maskeliūnas (rytis.maskeliunas@ktu.lt)
  </p>
</div>
<div class="user">
  <div class="tech" style="cursor:pointer" onclick="window.location.href=urlStart + '/first-semester.html?token=CGMqyCmXpC'">
    <h2>Pirmas semestras</h2>
    <i class="far fa-folder fa-lg"></i>
    <p>Temos pasirinkimas, jos pagrindimas, projekto paraiškos ir darbo plano sudarymas. </p>
  </div>
  <div class="tech" style="cursor:pointer" onclick="window.location.href=urlStart + '/second-semester.html?token=CGMqyCmXpC'">
    <h2>Antras semestras</h2>
    <i class="far fa-folder fa-lg"></i>     
    <p>Programinės įrangos projekto reikalavimų specifikacija, nagrinėjami programinės įrangos architektūrinio projektavimo principai.</p>
  </div>
  <div class="tech" style="cursor:pointer" onclick="window.location.href =urlStart + '/third-semester.html?token=CGMqyCmXpC'">
    <h2>Trečias semestras</h2>
    <i class="far fa-folder fa-lg"></i>
    <p>Projekto valdymas, analizė, rizikos valdymas, procesai.</p>
  </div>
</div>
