<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.website_title }}</span>
        <span class="site-description">{{ site.username }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/andrius-br%C5%ABzga-137936130/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/andriusbr/fake_profile_detection"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
