<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
        </style>
        <body class="w3-light-grey">
        
        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1400px;">
        
          <!-- The Grid -->
          <div class="w3-row-padding">
          
            <!-- Left Column -->
            <!-- <div class="w3-third">
            
              <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                  <img src="/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
                  <div class="w3-display-bottomleft w3-container w3-text-black">
                    <h2>Jane Doe</h2>
                  </div>
                </div>
                <div class="w3-container">
                  <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer</p>
                  <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
                  <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ex@mail.com</p>
                  <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
                  <hr>
        
                  <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                  <p>Adobe Photoshop</p>
                  <div class="w3-light-grey w3-round-xlarge w3-small">
                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                  </div>
                  <p>Photography</p>
                  <div class="w3-light-grey w3-round-xlarge w3-small">
                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                      <div class="w3-center w3-text-white">80%</div>
                    </div>
                  </div>
                  <p>Illustrator</p>
                  <div class="w3-light-grey w3-round-xlarge w3-small">
                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                  </div>
                  <p>Media</p>
                  <div class="w3-light-grey w3-round-xlarge w3-small">
                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                  </div>
                  <br>
        
                  <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                  <p>English</p>
                  <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                  </div>
                  <p>Spanish</p>
                  <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
                  </div>
                  <p>German</p>
                  <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
                  </div>
                  <br>
                </div>
              </div><br>
        
            </div> -->
        
            <!-- Right Column -->
            <div class="w3-twothird" style="width:100%">
            
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Atsiskaitymai</h2>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Magistro projekto informacinė sistema</b></h5>
                  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-10-15</h6>
                  <p>Sukurti tekstinę informaciją apie projektą, struktūrizuotą, prisitaikančią prie įrenginio ir ekrano dydžio wiki/svetainę/ tinklapį, apsaugotą slaptažodžiu.</p>
                  <hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Projektavimo metodologijos ir technologijų analizė</b></h5>
                  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-11-15</h6>
                  <p>Atlikti mokslinių darbų ir pasiekimų taikomojoje srityje bei technologijose analizę.</p>
                  <hr>
                </div>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Projekto paraiška</b></h5>
                  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-12-01</h6>
                  <p>Parengti magistrinio projekto paraišką. </p><br>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Projektavimo planas</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-12-15</h6>
                    <p>Sukurti magistrinio projekto planą. </p><br>
                    </div>
              </div>
        
              <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Sistemos aktualumas ir perspektyvumas</h2>
                <div class="w3-container">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Kuriama programinė įranga, kuri dirbtinio intelekto pagalba gebės aptikti netikras online paskyras. Ši sistema ypač aktuali dabartiniame skaitmeninių technologijų amžiuje, kai internetinių vagysčių, sukčiavimo atvejų skaičius kasmet auga. Žmonės socialiniuose tinkluose vis dažniau nukenčia dėl sukčių, kurie susikūrę netikrą paskyrą bando išvilioti pinigus ar kitaip apgauti. Socialiniai tinklai gauna vis daugiau ieškinių susijusių su sukčiavimu, tačiau net jeigu žmonės tas bylas laimi, jų nepasitikėjimas socialinių tinklų kompaniją niekur nedingsta, o tai lemia naudotojų skaičiaus mažėjimą. Todėl kompanijos yra suinteresuotos investuoti į netikrų paskyrų aptikimo technologijas. 
                            
                            </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;Taip pat vis daugėja atvejų, kai valstybės finansuoja šnipinėjimą ar propagandos skleidimą per socialinius tinklus. Valstybės gali skirti itin didelius išteklius savo išsikeltiems tikslams, todėl ateityje tikriausiai tam bus kuriamos pažangios technologijos, kurios stengsis apeiti socialinių tinklų sukurtus netikrų paskyrų aptikimo mechanizmus. Norint išlikti žingsniu priekyje neužteks taikyti paprastų algoritmų, reikės pasitelkti protingesnes technologijas, tokias kaip dirbtinis intelektas. Taigi, kuriama sistema yra perspektyvi, nes socialiniams tinklams reikės atremti vis labiau tobulėjančius netikrų paskyrų generavimo algoritmus.</p>
                  <hr>
                </div>
              </div>

              <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Literatūra</h2>
                <div class="w3-container">
                    <p>2018 Identity Fraud: Fraud Enters a New Era of Complexity. February 6, 2018 By: Al Pascual, Kyle Marchini, Sarah Miller. (49 pages; 37 graphics)</p>
                    <p>D. Bogdanova, P. Rosso, T. Solorio, "Exploring high-level features for detecting cyberpedophilia", Comput. Speech Lang., vol. 28, no. 1, pp. 108-120, 2014</p>
                    <p>P. Galán-García, J. G. De La Puerta, C. L. Gómez, I. Santos, P. G. Bringas, "Supervised machine learning for the detection of troll profiles in Twitter social network: Application to a real case of cyberbullying", Logic J. IGPL, vol. 24, no. 1, pp. 42-53, 2015.</p>
                    <p>A. Gogoglou, Z. Theodosiou, T. Kounoudes, A. Vakali, Y. Manolopoulos, "Early malicious activity discovery in microblogs by social bridges detection", Proc. IEEE Int. Symp. Signal Process. Inf. Technol. (ISSPIT), pp. 132-137, Dec. 2016</p>
                    <p>E. Ferrara, W.-Q. Wang, O. Varol, A. Flammini, A. Galstyan, "Predicting online extremism content adopters and interaction reciprocity", Proc. Int. Conf. Social Inform., pp. 22-39, 2016.</p>
                    <p>E. Van Der Walt and J. Eloff, "Using Machine Learning to Detect Fake Identities: Bots vs Humans," in IEEE Access, vol. 6, pp. 6540-6549, 2018.</p>
                    <p>Romanov, A., Semenov, A., & Veijalainen, J. (2017). Revealing Fake Profiles in Social Networks by Longitudinal Data Analysis. In Proceedings of the 13th International Conference on Web Information Systems and Technologies. SCITEPRESS - Science and Technology Publications.</p>
                    <p>Mohammadrezaei, M., Shiri, M. E., & Rahmani, A. M. (2018). Identifying Fake Accounts on Social Networks Based on Graph Analysis and Classification Algorithms. Security and Communication Networks, 2018, 1–8.</p>
                    <p></p>
                    <p>Atvirojo kodo pavyzdžiai:<br/>
                        <a href="https://github.com/Sam-DevZ/BotDetection-Algorithm">https://github.com/Sam-DevZ/BotDetection-Algorithm</a><br/>
                        <a href="https://github.com/jubins/MachineLearning-Detecting-Twitter-Bots">https://github.com/jubins/MachineLearning-Detecting-Twitter-Bots</a><br/>
                        <a href="https://github.com/beingaditya/fake-profile-detection">https://github.com/beingaditya/fake-profile-detection</a><br/>
                    </p>
                    <p></p>
                    <hr>
                </div>
			</div>
			<div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Planas</h2>
                <div class="w3-container">
                    <a href="/fake_profile_detection/Brūzga.planas.zip" download>Brūzga.planas.zip</a>
                  <hr>
                </div>
            </div>
        
            <!-- End Right Column -->
            </div>
            
          <!-- End Grid -->
          </div>
          
          <!-- End Page Container -->
        </div>
        
        <footer class="w3-container w3-teal w3-center w3-margin-top" style="background: rgb(85, 85, 85) ">
          <p>Magistro projekto informacinė sistema</p>
          
        </footer>
      
  </body>
</html>